
/*..........header style..........*/
body{
    margin: 0;
    padding: 0;
}
.main{
    background-image: url(./Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size:cover;
    height: 400px;
}
.containar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 90px ;
}
.logo h1{
    color:#4E47FF;
    font-family:inherit;
}
.up{
    background-color: #4E47FF;
    border-radius: 10px;
    padding: 10px 25px;
    border: none;
    color:white;
}
.banner{
    text-align: center;
    margin-top:150px;
    margin: 0 auto;
    width: 600px;
}
.banner h1{
    color:#252432;
    font-size: 50px;
    font-weight: 600;
}

/*............action..........*/

.action{
    display: flex;
    align-items: center;
    justify-content:center;
    /* margin-top: 60px; */
    width: 740px;
    gap: 130px;
    margin: 100px 100px;
}
.see p{
    color:rgb(37,36,50,0.5);
}
.web img{
    width: 300px;
    border-radius: 48px;
}
